.header {
    background:linear-gradient(120deg, rgba(192, 192, 192, 0.5), rgba(161, 105, 0, 0.3)), url(../pics/popynoid.jpg);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}

@media(max-width: 1300px){
    .header {
        background-position-x: 30%;
    }

    .logo {
        display: none;
    }

    .titul {
        margin-top: 40vh;
    }
}

/* adopce */

.adopceContainer {
    max-width: min(1500px, 95%);
    margin: 3rem auto;
    display: flex;
}



/* uvodni obrazek a gallery */

.uvodniObrazek {
    max-width: 100%;
}

.galleryContainer {
    max-width: min(800px,100%);
    margin: 0 auto;
}

/* textove pole */

.popisAdopceContainer {
    max-width: 600px;
}

.textovePole {
    min-width: 100%;

}

.popisAdopceContainer h2, .popisAdopceContainer p {
    text-align: left;
    max-width: 100%;
}

.textovePole hr {
    width: 100%;
    border-color: rgba(161, 105, 0, 0.3);
}

@media (max-width:900px) {
    .adopceContainer {
        flex-wrap: wrap;
    }
}

