.header {
    background:linear-gradient(120deg, rgba(192, 192, 192, 0.5), rgba(161, 105, 0, 0.3)), url(../pics/popynoid.jpg);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}

@media(max-width: 1300px){
    .header {
        background-position-x: 30%;
    }

    .logo {
        display: none;
    }

    .titul {
        margin-top: 40vh;
    }
}

h1 {
    text-align: center;
    font-weight: 500;
    margin: 1rem 0;
}

h4 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 3rem;
}

h2 {
    margin: 2rem 0 !important;
    font-weight: 400;
    text-align: left;
    font-size: clamp(1.2rem, 5vw, 2rem);
}

h3 {
    margin: 2rem 0 !important;
    font-weight: 350;
    text-align: left;
    font-size: clamp(1rem, 5vw, 1.8rem);
}
/* clanky */

main p {
    max-width: min(1000px, 95%);
}



/* případy z praxe */

.clanekTextBlok {
    max-width: min(1000px, 95%);
    margin: 2rem auto;
}

.clanekTextBlok h3 {
    margin: 4rem 0;
}

.clanekTextBlok p {
    margin: 1rem 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clanekTextBlok ul{
  margin-left: 1rem;
}

/* images */

.velkyObrazek {
    max-width: min(800px,95%);
}

.stredneVelkyObrazek {
    max-width: min(500px,95%);
}

.malyObrazek {
    max-width: min(400px,95%);
}

.imgContainer {
    text-align: center;
}

.obrazekStred {
    text-align: center;
}

img {
    max-height: 800px;
    max-width: 100%;
}

.floatingRight {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.stredniObrazek {
    max-height: 300px;
    max-width: 100%;
}

/* img caption */ 

figure figcaption, .popisObrazku {
    color: rgb(141, 141, 141);
    font-size: clamp(13px, 4vw, 17px);
    text-align: center;
}

/* ul and pics next to each other */

.ulAObrazek {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

.ulAObrazek ul {
    max-width: 600px;
}

.iridologieIris {
    width: min(300px, 100%);
}

/* autor */

.autor, .datum {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8rem;
    line-height: 0.5rem;
}

/* infobox */
 .infobox {
    min-height: 130px;
    width: min(600px, 100%);
    margin: 3rem auto;
    -webkit-box-shadow: 2px 5px 16px 0px rgba(107, 43, 0, 0.2), 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 2px 5px 16px 0px rgba(107, 43, 0, 0.3), 5px 5px 15px 5px rgba(0,0,0,0);
    background: rgba(107, 43, 0, 0.2);
    padding: 2rem 1.5rem;
    display: flex;
    gap: 20px;
    align-content: center;
 }

 @media(max-width: 380px){
    .infobox {
        flex-wrap: wrap;
    }

    .infobox i {
        margin: 0 auto;
    }
}

 .infobox i {
    font-size: 45px;
    align-self: center;
 }