.header {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(51, 51, 51, 0.3)), url(../pics/jakpomoci-background.jpg);
    min-height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}

@media(max-width: 1300px){
    .header {
        background-position-x: 30%;
    }

    .logo {
        display: none;
    }

    .titul {
        margin-top: 40vh;
    }
}

/* main */

.pomocFlex {
    display: flex;
   
    flex-wrap: wrap;
    max-width: min(2000px,100%);
    margin: 2rem auto;
    background-color: rgba(107, 43, 0, 0.2);
}

.pomocBox p {
    margin: 0;
    max-width: 90%;
}

.pomocBox {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;

    padding: 1rem 0;
}

.pomocBox h3 {
    text-transform: uppercase;
    text-align: center;
    max-width: 90%;
}

.pomocBox i {
    color: rgba(107, 43, 0, 0.85);
    font-size: 3rem;
    margin-top: 1rem;
}

/* partners */

.partnersGrid {
    max-width: min(1500px,100%);
        margin: 1rem auto;
}

.obrazekVlevo {

        max-width: min(1500px,100%);
        margin: 1rem auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;

}

.obrazekVpravo {
     max-width: min(1500px,100%);
        margin: 1rem auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
}

.partnersVelkyObrazek {
    max-height: 800px;
}
