.header {
    background:linear-gradient(120deg, rgba(192, 192, 192, 0.5), rgba(161, 105, 0, 0.3)), url(../pics/barneby2.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}

@media(max-width: 1300px){
    .header {
        background-position-x: 30%;
    }

    .logo {
        display: none;
    }

    .titul {
        margin-top: 55vh;
    }
}

@media(max-width: 700px){
    .header {
        background-position-x: 60%;
    }
}

/* tým */

.tym {
    max-width: min(1300px,95%);
    margin: 1rem auto;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.clenTymuContainer {
    max-width: min(600px, 100%);
    border: 2px outset rgba(199,121,84,0.6);
    padding: 0.5rem;
}

.clenTymuContainer p {
    max-width: 95%;
}

.profilovkaJmenoRole {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.profilovkaJmenoRole img {
    max-width: min(150px,100%);
    border-radius: 200px;
}

.jmenoRole {
    margin-top: 1rem;
}

.jmenoRole h3 {
    font-weight: 400;
}

.jmenoRole h5 {
    font-weight: 300;
    margin-top: 0.3rem;
}