* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 0.12rem;
    color: rgb(53, 53, 53);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 600;
}


h2 {
    font-weight: 500;
    font-size: clamp(1.4rem, 5vw, 2.2rem);
    text-align: center;
    margin: 2rem 0;
}

h3 {
    font-size: clamp(1.1rem, 10vw, 1.8rem);
    font-weight: 400;
}

h4 {
    font-size: clamp(1.1rem, 5vw, 1.4rem);
    font-weight: 300;
    margin: 1rem 0;
}

p, span {
    font-size: clamp(18px, 4vw, 20px);
    line-height: 1.6rem;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

a {
    text-decoration: none;
}
.a-wrapper {
    text-align: center;
}

ul li, ol li {
    line-height: 1.4rem;
    margin: 1.8rem 0;
}

ol {
    margin-left: 1rem;
}

br {
    margin-bottom: -0.2rem;
}

@media (max-width: 800px) {
    * {
        letter-spacing: 0.07rem;
    }

    p, span {
        line-height: 1.1rem;
        font-size: 16px;
    }

    ul li, ol li {
        line-height: 1rem;
        font-size: 16px;
        margin: 0.5rem 0;
    }
}

.underline:hover {
    text-decoration: solid underline rgba(107, 43, 0, 0.589) 3px;
}

.brown {
    color: rgba(107, 43, 0, 0.85); 
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.header {
    min-height: 100vh;
    width: 100%;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.movingBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
    background: url(../pics/anubis.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: movingBackground 30s infinite;
    -webkit-animation: movingBackground 30s infinite;
    -moz-animation:movingBackground 30s infinite;
    -o-animation:movingBackground 30s infinite;
    box-shadow:inset 0 0 0 2000px rgba(34, 34, 34, 0.3);
}

button {
        outline: none;
        width: min(250px,60vw);
        min-height: 40px;
        padding: 10px 15px;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.8rem;
        transition: all 0.5s;
        background-color: rgba(179, 146, 122, 0.718);
        color: aliceblue;
        border: none;
        border-radius: 5px;
}

.button {
    text-transform: uppercase;
}  

button:hover {
    background-color: rgba(107, 43, 0, 0.701);
}

.velke-tlacitko {
    font-size: 1rem;
    width: fit-content;
}

/* podtrzeni */

/* .hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -3px;
    left: 0;
    background-color: rgba(107, 43, 0, 0.589);
    border-radius: 10px;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.hoverBackground {
    color: rgba(107, 43, 0, 0.85);
} */

/* animation background */

@keyframes movingBackground {
    0% {
        background-image: url(../pics/misule.jpg);
        animation-timing-function: ease-in-out;
       
    }

    20% {
        background-image: url(../pics/anubis.jpg);
        animation-timing-function: ease-in;
       
    }

    40% {
        background-image: url(../pics/main-background.jpg);
        animation-timing-function: ease-in;
      
    }

    60% {
        background-image: url(../pics/ruzova-sendy.jpg);
        animation-timing-function: ease-in;
     
    }

    80% {
        background-image: url(../pics/popynoid.jpg);
        animation-timing-function: ease-in;
     
    }

    100% {
        background-image: url(../pics/misule.jpg);
        animation-timing-function: ease-in-out;
      
    }
}

@-webkit-keyframes movingBackground {
    0% {
        background-image: url(../pics/misule.jpg);
        animation-timing-function: ease-in-out;
       
    }

    20% {
        background-image: url(../pics/anubis.jpg);
        animation-timing-function: ease-in;
       
    }

    40% {
        background-image: url(../pics/main-background.jpg);
        animation-timing-function: ease-in;
      
    }

    60% {
        background-image: url(../pics/ruzova-sendy.jpg);
        animation-timing-function: ease-in;
     
    }

    80% {
        background-image: url(../pics/popynoid.jpg);
        animation-timing-function: ease-in;
     
    }

    100% {
        background-image: url(../pics/misule.jpg);
        animation-timing-function: ease-in-out;
      
    }
}

@-moz-keyframes movingBackground {
    0% {
        background-image: url(../pics/misule.jpg);
        animation-timing-function: ease-in-out;
       
    }

    20% {
        background-image: url(../pics/anubis.jpg);
        animation-timing-function: ease-in;
       
    }

    40% {
        background-image: url(../pics/main-background.jpg);
        animation-timing-function: ease-in;
      
    }

    60% {
        background-image: url(../pics/ruzova-sendy.jpg);
        animation-timing-function: ease-in;
     
    }

    80% {
        background-image: url(../pics/popynoid.jpg);
        animation-timing-function: ease-in;
     
    }

    100% {
        background-image: url(../pics/misule.jpg);
        animation-timing-function: ease-in-out;
      
    }
}

.logo img{
    max-width: 150px;
    margin-top: 0.5rem;
}

/* header menu */ 

.navigation #menuIcon, nav #menuOffIcon {
    display: none;
}

.navigation {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(192, 192, 192, 0) 0%, rgba(139, 139, 139, 0.4) 35%, rgba(31,31,31,0.6) 100%);
    
}



.nav-links ul {
    display: flex;
    
}

.nav-links ul li {
    margin-right: 1.3rem;
    
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(211, 211, 211);
    font-weight: 200;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 1px;
    background: rgb(211, 211, 211);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 95%;
}

@media(max-width: 1550px){
    .navigation {
        flex-wrap: wrap-reverse;
        text-align: center;
    }

    .logo {
        margin: 0 auto;
    }
}

@media(max-width: 1050px){
    .navigation {
        flex-wrap: wrap-reverse;
    }

    .nav-links ul {
        display: block;
        margin-top: 60px;
        margin-right: 30px;
        margin-left: 15px;
    }

    .nav-links ul li {
        margin-bottom: 15px;
    }

   

    .nav-links ul li a {
        line-height: 1rem;
      
    }

    .nav-links {
        position: absolute;
        background: rgba(51, 51, 51, 0.8);
        backdrop-filter: blur(18px);
        color: aliceblue;
        height: 100vh;
        width: 230px;
        top: 0;
        right: -200px;
        display: none;
        text-align: left;
        z-index: 2;
        transition: 1s;
        position: fixed;
        }

    .navigation #menuIcon, nav #menuOffIcon {
        display: block;
    }

    #menuOffIcon {
        
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 25px;
        color: aliceblue;
    }

    #menuIcon {
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 40px;
        color: aliceblue;
    }

    .logo img {
        width: max(25vw,200px);
        margin-top: 45%;
    }

    .navigation {
        flex-direction: column;
    }
    
}

/* Dropdown */

.dropdown-box {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: rgba(51, 51, 51, 0.6);
    backdrop-filter: blur(18px);
}

.dropdown-box a {
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-box a:hover, .dropdown-box a:focus {
    background: rgba(51, 51, 51, 1);
}

.dropdown-a {
    cursor: pointer;
}

.dropdown-a i{
    color: aliceblue;
}

.show-dropdown-menu {display:block;}

@media(max-width: 1050px){
    .dropdown-box {
        right: 230px;
        top: 170px;
        background: rgba(51, 51, 51, 1);
    }
}

@media(max-width: 450px){
    .dropdown-box {
        right: 130px;
        top: 150px;
        background: rgba(51, 51, 51, 1);
    }
}

.transparentni-ucet-ref {
    background-color: rgba(107, 43, 0, 0.5); 
    -webkit-box-shadow: 10px 0px 71px 22px rgba(107, 43, 0, 1); 
    -moz-box-shadow: 10px 0px 71px 22px rgba(107, 43, 0, 1); 
    box-shadow: 10px 0px 71px 22px rgba(107, 43, 0, 1); 
    font-weight: bold !important;
}

/* titul */

.titul {
    margin-top: 1vh;
    text-align: center;
    text-transform: uppercase;
}

.titul h1 {
    font-weight: 800;
    font-size: clamp(1rem, 7vw, 8rem);
    color: aliceblue;
    margin-bottom: 1rem;
    letter-spacing: 0.4rem;
}

.titul p {
    color: aliceblue;
    font-weight: 100;
    letter-spacing: 0.4rem;
}

.titul hr {
    margin: 1rem auto;
    width: 40%;
    border: none;
    border-top: 1px solid rgb(218, 218, 218);
    height: 1px;
}

.titul-vyber-tlacitek {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
}

@media(max-width: 1200px){
    .titul-vyber-tlacitek {
        margin-top: 2rem;
    }
}

/* main */


main p, main h2 {
    max-width: min(1300px,95%);
    margin: 1rem auto;
}

.novinky {
    max-width: min(1500px,100%);
    margin: 1rem auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.levaStrana {
    max-width: min(100%,600px);
    margin-left: auto;
}

.levaStrana-margin-prava {
    max-width: min(100%,600px);
    margin-right: auto;
}

.levaStrana-margin-prava img {
    max-width: min(100%,600px);
}

.levaStrana img {
    max-width: min(100%,600px);
}

.pravaStrana {
    width: min(100%,600px);
    margin: 0 auto;
    text-align: center;
}

.pravaStrana p {
    text-align: left;

}

.pravaStrana img {
    max-width: min(100%,300px);
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .levaStrana-margin-prava {
        margin-left: auto;
    }

    .levaStrana {
        margin-right: auto;
    }
}

/* footer */

.footer {
    width: 90%;
    margin: 0 auto;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin: 2rem 0;
}

hr {
   margin: 2rem auto;
   width: 90%;
   border: none;
   border-top: 1px solid black;
   height: 1px;
}

.icon {
    display: flex;
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.icon i {
    padding-right: 1rem;
}

.socials {
    margin-right: 5rem;
    margin-left: 2rem;
}

.socials a {
    text-decoration: none;
    margin: 0 0.5rem;
}

@media (max-width: 700px) {
    .socials {
        margin: 0 auto;
    }

    .mailATelefon {
        margin: 0 auto;
    }
}



#ja {
    text-align: center;
    font-weight: 100;
    color: rgb(58, 58, 58);
    font-size: 15px;
}


/*-----------------------------*/

/* clanky grid */

.clankyGrid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 3rem auto;
    justify-content: center;
}

.jedenClanek {
    width: min(100%,360px);
    height: fit-content;
    border: none;
    display: flex;
    flex-direction: column;
}

.jedenClanekSummary {
    padding: 0.5rem;
}

.jedenClanek p {
    max-width: 100%;
}

.jedenClanekThumb {
    max-height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jedenClanekThumb img {
    width: 100%;
}

.jedenClanekTlacitko {
    background-color: rgba(88, 86, 86, 0.185);
}

.whenPosted {
    font-size: 0.8rem;
}

.nadpisClanku {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

@media (max-width: 800px) {
    .nadpisClanku {
        font-size: 1rem;
    }
}

/* tilted border img */

/* border */

.separatorRight{
    width:100%;
    margin-bottom: -10vw;
    z-index: 100;
}

.separatorRight:after{
    content:'';
    display:block;
    border-right: 100vw solid rgb(255, 255, 255);
    border-top: 1vw solid transparent;;
    border-left:0;
    border-bottom: 5vw solid transparent;
    z-index: 100;
}

.separatorLeft{
    width:100%;
    margin-top: -10vw;
}

.separatorLeft:after{
    content:'';
    display:block;
    border-left: 100vw solid rgb(255, 255, 255);
    border-top: 5vw solid transparent;
    border-right:0;
    border-bottom: 1vw solid transparent;
}

/* interImg */

.interImg {
    max-height: 600px;
    overflow: hidden;
    z-index: -100;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.interImg img {
    width: 100%;
    position: sticky;
    z-index: -100;
    max-height: none !important;    
}

/**************** BLOCKQUOTE ************/

/* center the blockquote in the page */
.blockquote-wrapper {
    display: flex;
    padding: 0;
 }

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(107, 43, 0, 0.85);
    padding: 30px 0;
    width: 100%;
    max-width: 95%;
    z-index: 1;
    margin: 20px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote-maintext {
    position: relative;
    color: rgba(107, 43, 0, 0.85);
    font-size: 25px;
    line-height: 1.8rem;
    margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
    position: absolute;
    content: "”";
    color: rgba(107, 43, 0, 0.2);
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote p {
        font-size: 45px;
        line-height: 2.3rem;
   }

   .blockquote-subheader {
        font-size: 35px !important;
   }

   .blockquote {
    max-width: 80%;
   }

   .blockquote-wrapper {
    padding: 0  20px;
 }

}

/* Blockquote subheader */
.blockquote-subheader {
    position: relative;
    color: rgba(107, 43, 0, 0.6);
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
}

/* infobox */

.infobox {
    min-height: 130px;
    width: min(600px, 100%);
    margin: 3rem auto;
    -webkit-box-shadow: 2px 5px 16px 0px rgba(107, 43, 0, 0.2), 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 2px 5px 16px 0px rgba(107, 43, 0, 0.3), 5px 5px 15px 5px rgba(0,0,0,0);
    background: rgba(107, 43, 0, 0.2);
    padding: 2rem 1.5rem;
    display: flex;
    gap: 20px;
    align-content: center;
 }

 @media(max-width: 380px){
    .infobox {
        flex-wrap: wrap;
    }

    .infobox i {
        margin: 0 auto;
    }
}

 .infobox i {
    font-size: 45px;
    align-self: center;
 }

 /* logo a popis - např. bloky pro slevy */

 .wrapper-bloky-logo-a-popis {
    margin: 1rem auto;
    max-width: min(1000px, 95%);
    
 }

 .logo-a-popis {
    display: flex;
    align-items: center;
    gap: 15px;
 }

 .sleva-logo-obrazek{
    width: 150px;
 }

 @media(max-width: 500px){
    .logo-a-popis {
        flex-wrap: wrap;
        text-align: center;
     }

     .sleva-logo {
        margin: 0 auto;
     }
    
}

/* články specifikace */

.clanekTextBlok {
    max-width: min(1000px, 95%);
    margin: 2rem auto;
}

.clanekTextBlok h3 {
    margin: 2rem 0;
}

.clanekTextBlok p {
    margin: 1rem 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clanekTextBlok ul{
  margin-left: 1rem;
}

/* brown block */

.brown-block {
    background-color: rgba(179, 146, 122, 0.718);
}

.prispejte {
    padding-top: 2em;
    padding-bottom: 3em;
}

.brown-block h2, .brown-block p {
    color: aliceblue;
}

.qr-kod {
    max-width: min(200px,95%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}